header {
    text-align: center;
}

header img {
    width: 20px;
}


header nav {
    display: inline-block;
    
}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: black;    
}

#mainSec {
    margin-left: auto;
    margin-right: auto;
}


#leftText {
    width: 45%;
    float: left;
    

}

#rightImg img {
    width: 45%;
}

